.container-box {
  background: linear-gradient(#fffdd0, #fdfd96, #01796f);
  padding: 80px 0;
}
.container-box .image-holder {
  display: table-cell;
  width: auto;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQH2ErUQgoQ9RF4B3Vb1hELofNesyK9kLmGWTrEahKAI-_jvmcVqMd8rTH4XuS37mkj4I&usqp=CAU);
  background-size: no-repeat;
  image-rendering: auto;
}
.container-box .form-container {
  display: table;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.container-box form {
  display: table-cell;
  width: 400px;
  background-color: #ffffff;
  padding: 40px 60px;
  color: #505e6c;
}
@media (max-width: 991px) {
  .container-box form {
    padding: 40px;
  }
}
.container-box form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.container-box form .form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid lightgreen;
  padding: 0px 75px;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 0px;
  height: 50px;
}
.container-box form .form-check {
  font-size: 13px;
  line-height: 20px;
}
.container-box form .btn-primary {
  background: green;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 35px;
  text-shadow: none;
  outline: none !important;
}
.container-box form .btn-primary:hover,
.container-box form .btn-primary:active {
  background: green;
}
.container-box form .btn-primary:active {
  transform: translateY(1px);
}

