@import url('https://fonts.googleapis.com/css2?family=Indie Flower');

body {
    font-family: Indie Flower; 
    color: black;
    font-size: 16px;
    --transition-speed: 600ms;
 
    
}

  
ul{
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url('./images-2.jpg');
   object-fit: cover;
  }

  
  a {
    display: flex;
    align-items: center;
    height: 2rem;
    color: #004526;
    text-decoration: none;
    filter: grayscale(100%) opacity(1);
    transition: let(--transition-speed);
    display: inline-block;
    margin-top: 2px
  }
  
  #nav:hover {
    filter: grayscale(0%) opacity(1);
    background: #D0F0C0;
    color: #fffacd;
  }

  
  a svg {
    width: 1rem;
    min-width: 2rem;
    margin: 0 rem;
  }
  
  
#nav{
    text-align: center;
    color: black;
    background: #71BC78;
    font-size: 15px;
    width: 120px;
    height: 75px;
    border-radius: 12px 300px 5px 300px;
    margin-right: 6px;
justify-items: center;
background-image: url('./download.jpg')
 
  }
  

  li svg:hover{
    animation: spin 2s linear infinite;
  }

  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(359deg); }
}

.format{
    color: #fffacd !important;
    display: block;
    text-align: right;
    margin-left: 50vw;
    font-size: 28px;
    opacity: 1

}
