@import url('https://fonts.googleapis.com/css2?family=Indie Flower');


.page-wrapper {
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: beige;
}

.grad-bar {
  width: 100%;
  height: 15px;
  background: linear-gradient(-45deg, rgba(7,63,24,1) 0%, rgba(99,182,34,1) 27%, rgba(246,243,114,1) 59%, rgba(185,241,203,1) 84%);
  background-size: 400% 400%;
  	-webkit-animation: gradbar 15s ease infinite;
	-moz-animation: gradbar 15s ease infinite;
	animation: gradbar 15s ease infinite;
} 


.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr; 
  align-items: center;
  height: 7rem;
  overflow: hidden;
}

.title {
  justify-self: start;
  margin-left: 20px;
  font-size: 50px;
  font-weight: 600;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQW3ix2NzkDNtUnwDrMhpBto5aAOhZuur2lrQ&usqp=CAU);
  background-size: 250px;
  background-repeat: repeat;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.navbar ul {
  float:left;
  padding:10px;
  text-align: center;
  margin-left:20px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-self: center;

  
}

.nav-item a{
  color: darkolivegreen;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.nav-item a:hover {
  color: lightseagreen;
} 








@-webkit-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
} 

@-moz-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
} 

@keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* codepen used for styling - https://codepen.io/bowersrd/pen/dwXLba?editors=1100 */
