@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-image: linear-gradient(#fdfd96, #01796f);

}

#login, #signup {
    border: none;

margin-right: 10px;
    width: 25vw;
   
}

#logsigdiv {
    text-align: center;
}

#plantCarousel {
    height: 30vh;
    width: 25vw;
    margin: auto;
}

#bottom {
    padding: 50px
}

#logo {
    height: 50vh;
    margin: auto
}

#vine {
    margin: auto;
    height: 14rem
}

#cardCont {
    width: 300px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row; 
}

#cardImg {
    height: 300px;
    width: 300px;
}

#cardBody {
    height: 5rem;
    text-align: center;
    background-color: #74b7a0;
    color: black;
}

#imgDetail {
    height: 50vh;
    width: 50vw;
    margin: auto;
    border-radius: 25px;
}

