@tailwind base;
@tailwind components;
@tailwind utilities;

#login, #signup {
    border: none;
    background-color: #c57a53;
    color: #f4e9d1;
    width: 25vw;
}

#plantCarousel {
    height: 30vh;
    width: 25vw;
    margin: auto;
}

#bottom {
    padding: 50px
}

#logo {
    height: 50vh;
    margin: auto
}

#rope {
    margin: auto;
    height: 100px
}

#cardCont {
    width: 18rem;
}

#cardImg {
    height: 300px;
}

#cardBody {
    height: 150px;
    text-align: center;
    background-color: #74b7a0;
    color: #8c573c;
}

#cardButton {
    color: #c57a53;
    border-color: #c57a53
}

#imgDetail {
    height: 50vh;
    width: 50vw;
    margin: auto;
    border-radius: 25px;
}

#plantDes {
    text-align: center;
    font-size: 40px;
}

#editButt, #deleteButt{
    width: 25vw;
    margin: auto;
}